#frontPic{
  margin-top: 50px;
}

.panel-footer {
	margin-top: 30px;
	padding-top: 25px;
	padding-bottom: 50px;
	background-color: #222;
	border-top: 0;
  color: white
}

.content{
  margin-top: 80px;
  margin-bottom: 10px;
  color: teal;
  font-size: 20px;
}

.map{
  margin-top: 80px;
  margin-bottom: 80px;
  /* height: 300px;
  width: 400px; */
}
.form{
  width: 400px;
  height: auto;
}


/* .fbIcon{
  height: 500px;
  width: 500px;
  background-color: #f5f6fa;
  border-radius: 50px;
  text-align: center;
} */
